// colors

$rock-gradient: rgb(220, 46, 78);
$paper-gradient: rgb(72, 101, 244);
$scissors-gradient: rgb(236, 158, 14);

// texts

$dark-text: rgb(59, 67, 99);
$score-text: rgb(42, 70, 192);
$header-outline: rgb(96, 110, 133);

// background

$background-gradient: radial-gradient(circle, rgb(31, 55, 86), rgb(20, 21, 57));

// images

$imageP: "../src/images/icon-paper.svg";
$imageS: "../src/images/icon-scissors.svg";
$imageR: "../src/images/icon-rock.svg";
